<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>LowBlog</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="numbers" class="numbers code-font">
      </div>
      <div id="code-body" class="code-body">
        <pre><code class="code-font">#!/MyBlog/By JamesAnthonyLow
<div id="posts">
<span id="post-title" class="hidden">#Posts</span>
{ 
<% @entries.each do |e| %>
  "<a class="code-font entries" href="#"><%= e.name %></a>" : "<a class="code-font entries" href="#"><%= e.date %></a>",
<% end %>
}</div><div id="social">
<span id="social-title" class="hidden">#Social</span>
{ 
  ["<a class="code-font entries" href="https://twitter.com/JamesAnthonyLow">Twitter</a>", "<a class="code-font entries" href="https://linkedin.com/in/JamesAnthonyLow">LinkedIn</a>", "<a class="code-font entries" href="https://github.com/JamesAnthonyLow">GitHub</a>"]
}</div></code></pre>
      </div>
    </div>
  </body>
</html>
