body {
  background-color: #F0EBC9;
}

.code-font {
  font-family: "Lucida Console", Monaco, monospace;
}

.entries {
  text-decoration: none;
  color: black;
}

.entries:hover {
  color: red;
}

.container {
  position: relative;
}

.code-body {
  margin-left: 5.6%;
}

.numbers {
  position: absolute;
  height: 100%;
  width: 5.5%;
  float: left;
  background-color: #BEBF9F;
  z-index: -1;
}

@media (min-width: 1200px) {
  .code-font {
    font-size: 24px;
  }
}
